<% layout("layouts/boilerplate.ejs") %>
<!-- All this code is passed to boilerplate as "body" -->
    <h1>All Campgrounds!</h1>

    <div>
      <a href="/campgrounds/new">Add new Campground</a>
    </div>

    <ul>
      <% for(let campground of allCamps) { %>
      <li>
        <a href="/campgrounds/<%= campground._id %>"><%= campground.title %></a>
      </li>
      <% } %>
    </ul>
