<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= username %>'s Comment</title>
</head>
<body>

    <h2><%= comment %></h2>
    <p> - <%= username %></p>
    
    Comment id: <%= id %>

    <a href="/comments">Go back to Home</a>
</body>
</html>